<script type="text/ng-template"  id="sentences.html">
  <sentence ng-repeat="sentence in sentences" ng-include="'sentence.html'"></sentence>
</script>

<script type="text/ng-template"  id="sentence.html">
  <subjects>
    <subject ng-repeat="line in sentence.subjects" ng-include="'subject.html'" has-modifiers has-dropdown></subject>
  </subjects>
  <break></break>
  <predicates>
    <predicate ng-repeat="line in sentence.predicates" ng-include="'predicate.html'" has-modifiers has-dropdown></predicate>
  </predicates>
</script>

<script type="text/ng-template"  id="subject.html">
  <text editable ng-model="line.text" style={{style}}></text>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" ng-show="dropdown">
    <li><a tabindex="-1" href="#" ng-click="addModifier($event)">Add modifier</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#" ng-click="editText($event)">Edit text (Dbl click)</a></li>
  </ul>
  <modifiers ng-if="line.modifiers">
    <modifier ng-repeat="modifier in line.modifiers" modifier="modifier" ng-include="'modifier.html'" has-dropdown></modifier>
  </modifiers>
</script>

<script type="text/ng-template"  id="predicate.html">
  <text editable ng-model="line.text" style={{style}}></text>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" ng-show="dropdown">
    <li><a tabindex="-1" href="#" ng-click="addModifier($event)">Add modifier</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#" ng-click="editText($event)">Edit text (Dbl click)</a></li>
  </ul>
  <modifiers ng-if="line.modifiers">
    <modifier ng-repeat="modifier in line.modifiers" modifier="modifier" ng-include="'modifier.html'" has-dropdown></modifier>
  </modifiers>
  <div class="verb" type="{{ line.verb }}" ng-click="toggleVerb()">&nbsp;</div>
  <objects>
    <object ng-repeat="line in line.objects" ng-include="'object.html'" has-modifiers has-dropdown></object>
  </objects>
</script>

<script type="text/ng-template"  id="object.html">
  <text editable ng-model="line.text" style={{style}} ng-snglclick="openDropdown($event)"></text>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" ng-show="dropdown">
    <li><a tabindex="-1" href="#" ng-click="addModifier($event)">Add modifier</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#" ng-click="editText($event)">Edit text (Dbl click)</a></li>
  </ul>
  <modifiers ng-if="line.modifiers">
    <modifier ng-repeat="modifier in line.modifiers" modifier="modifier" ng-include="'modifier.html'" has-dropdown></modifier>
  </modifiers>
</script>


<script type="text/ng-template"  id="modifier.html">
  <text editable ng-model="modifier.text" style="{{style}}"></text>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" ng-show="dropdown">
    <li class="disabled"><a tabindex="-1" href="#" ng-click="removeModifier($event, $index)">Remove modifier</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#" ng-click="editText($event)">Edit text (Dbl click)</a></li>
  </ul>
  <modifiers ng-if="modifier.modifiers">
    <modifier ng-repeat="modifier in modifier.modifiers" modifier="modifier" ng-include="'modifier.html'" has-dropdown></modifier>
  </modifiers>
</script>